.serie {
	margin-left: 10px;
	margin-right: 10px;
	max-width: 600px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	.whose {
		margin-top: 16px;
		margin-left: 8px;
	}
	.you {
		margin-right: 47px;
	}
	.title {
		margin-bottom: 5px;
	}
	&__series-number {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__shots-section {
		display: flex;
		flex-direction: column;
		align-items: center;

		.shots-section__shots-container {
			display: flex;
		}
	}

	.serie__set-pts {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
}
