.button {
	color: White;
	font-family: 'Inter';
	font-style: normal;
	font-size: 12px;
	line-height: 15px;
	border: 2px solid hsla(227, 44%, 51%, 0);
	margin: 5px;
}

.blue {
	padding: 5px 10px;

	background: #819cf1;
	border-radius: 6px;
	&:hover {
		border: 2px solid #9eb2f3;
		border-radius: 6px;
	}

	//Pressed
	&:active {
		background: #5a6dab;
		border-radius: 6px;
	}
	&:focus {
		background: #728bda;
		border-radius: 6px;
	}
	&:disabled {
		background: #b2c2f1;
		border-radius: 6px;
	}
}

.undo {
	padding: 5px 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	background: #d14343;
	border-radius: 6px;
	.line {
		margin-left: 4px;
		margin-right: 4px;
		padding-top: 2px;
	}
	&:hover {
		background: #d14343;
		border: 2px solid #de6a6a;
		border-radius: 6px;
	}

	//Pressed
	&:active {
		background: #922f2f;
		border-radius: 6px;
	}
	&:focus {
		background: #c03e3e;
		border-radius: 6px;
	}
	&:disabled {
		background: #eeaeae;
		border-radius: 6px;
	}
}

.reject {
	padding: 4px 16px;
	color: #474d66;
	background: #d2d9d8;
	border-radius: 6px;
	&:hover {
		background: #d2d9d8;
		border: 2px solid #ebebeb;
		border-radius: 6px;
	}

	//Pressed
	&:active {
		background: #8a9694;
		border-radius: 6px;
	}
	&:focus {
		background: #c6c6c6;
		border-radius: 6px;
	}
	&:disabled {
		background: #f3f3f3;
		border-radius: 6px;
	}
}

.usual {
	background: #479f9f;
	border-radius: 6px;
	padding: 4px 62px;

	&:hover {
		background: #479f9f;
		border: 2px solid #e0eded;
	}

	//Pressed
	&:active {
		background: #306666;
	}
	&:focus {
		background: #3f8585;
	}
	&:disabled {
		background: #d2e9e9;
	}
}

.surrender {
	padding: 6px 10px 6px 10px;
	color: #000000;
	background: #d7d7d7;
	border: 1px solid #000000;
	border-radius: 6px;
	&:hover {
		background: #eaeaea;
	}

	//Pressed
	&:active {
		background: #ffffff;
	}
	&:focus {
		background: #ffffff;
	}
	&:disabled {
		background: #f2f2f2;
		border: 1px solid #b1b1b1;
	}
}
