.shot-box {
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	width: 50px;
	align-items: center;
	padding: 8px 15px;

	background: #ffffff;
	border: 2px solid #d8dae5;
	border-radius: 4px;
	margin: 5px;
}
.yellow-box {
	border: 2px solid #fee24a;
}

.red-box {
	border: 2px solid #ff5259;
}
.blue-box {
	border: 2px solid #05acff;
}
.black-box {
	border: 2px solid #040000;
}
.white-box {
	border: 2px solid #cccccc;
}
.gray-box {
	border: 2px solid #a6a6a6;
}
.what-box {
	border: 2px solid green;
}
