.serie {
	margin-left: 10px;
	margin-right: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	.whose {
		margin-top: 16px;
		margin-left: 8px;
	}
	.you {
		margin-right: 47px;
	}
	.title {
		margin-bottom: 5px;
	}

	&__shots-section {
		.shots-section__shots-container {
			display: flex;
			justify-content: space-between;
			min-width: 190px;
		}
	}

	.serie__set-pts {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
}
